# Gradle
.gradle/
build/
bin/
out/

# IDEs
.vscode/
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/

# Fabric
run/
runDir/
.fabric/

# System
.DS_Store
Thumbs.db

# Logs
*.log

# Others
references/
